@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome, </h1>
    <h4 class="text-white">Evaluation for everyone's amelioration - DNTS Evaluation System</h4>
</div>
<a type="button" class="btn btn-outline-light" asp-controller="Staffs" asp-action="Index">Staffs</a>
<br />
<br />
<a type="button" class="btn btn-outline-light" asp-controller="Positions" asp-action="Index">Position</a>
<br />
<br />
<a type="button" class="btn btn-outline-light" asp-controller="Users" asp-action="Index">Users</a>
<br />
<br />
<a type="button" class="btn btn-outline-light" asp-controller="Evaluations" asp-action="Index">Evaluation</a>
<br />
<br />
<a type="button" class="btn btn-outline-light" asp-controller="PeerEvaluations" asp-action="Index">Peer Evaluation</a>
<br />
<br />
<a type="button" class="btn btn-outline-light" asp-controller="HeadEvaluations" asp-action="Index">Head Evaluation</a>